{% extends 'base.html' %}

{% block content %}
  <div class="col pb-5">
    <h2>Registro de atención.</h2>
    <form action="" method="post" enctype="multipart/form-data" class="row pt-2 g-4">
      {% csrf_token %}
      <div class="col-sm-12 col-md-4 col-lg-4">
        {{ form.localidad.label_tag }}
        {{ form.localidad }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        {{ form.nombre.label_tag }}
        {{ form.nombre}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        {{ form.rut.label_tag }}
        {{ form.rut}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        {{ form.tipo_atencion.label_tag }}
        {{ form.tipo_atencion }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-2">
        {{ form.nacionalidad.label_tag }}
        {{ form.nacionalidad}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.etnia.label_tag }}
        {{ form.etnia}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.sexo.label_tag }}
        {{ form.sexo}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-2">
        {{ form.rango_etario.label_tag }}
        {{ form.rango_etario}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.edad.label_tag }}
        {{ form.edad}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-7">
        <label for="inputGroupFile02" class="form-label">Excel con resultados:</label>
        <div class="form-file">
          <input type="file" class="form-file-input" id="customFile" onchange="selectFolder(event)" name="guardar_excel" size="0" webkitdirectory>
          <label class="form-file-label" for="customFile">
            <span class="form-file-text">Seleccionar Carpeta...</span>
            <span class="form-file-button">Elegir</span>
          </label>
        </div>
      </div>
      <div class="col-md-12 col-12">
        <button type="submit" class="btn btn-primary"> Registrar <span class="fas fa-file-excel"></span></button>
      </div>
    </form>
    <a href="static/files/proyecto_vicky.xlsx" download="w3logo">Descargar Excel
    </a>
    <script src="formatoRUT.js"></script>
  </div>
  <script>
    document.querySelectorAll('.form-file-input')
        .forEach(_ => addEventListener('change', e => e.target.parentElement.querySelector('.form-file-text').innerText = e.target.files[0].name));
  </script>

<!-- <script type="text/javascript">
  function selectFolder(e) {
      var theFiles = e.target.files;
      var relativePath = theFiles[0].webkitRelativePath;
      var folder = relativePath.split("/");
      alert(folder[0]);
  }
  </script> -->

  <script>
    document.getElementById("customFile").addEventListener("change", function(event) {
      let output = document.getElementById("guardar_excel");
      let files = event.target.files;

      for (let i=0; i<files.length; i++) {
        let item = document.createElement("li");
        item.innerHTML = files[i].webkitRelativePath;
        output.appendChild(item);
      };
    }, false);
  </script>
{% endblock %}