{% url 'login' as login %}
{% url 'register' as register %}
{% url 'export' as export %}
{% url 'index' as index %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Registro de Atenciones</a>

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navb" class="navbar-collapse collapse hide">
      <ul class="nav navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="navbar-item {% if request.path == index %}active{% endif %}">
          <a href="{{ index }}" class="nav-link"><span class="fas fa-user-md"></span> Registar Pacientes</a>
        </li>
        <li class="navbar-item {% if request.path == export %}active{% endif %}">
          <a href="{{ export }}" class="nav-link"><span class="fas fa-file-export"></span> Exportar Archivos</a>
        </li>
        <li class="navbar-item">
          <a href="{% url 'logout' %}" class="nav-link"><span class="fas fa-sign-in-alt"></span> Logout</a>
        </li>
        {% else %}
        <li class="navbar-item {% if request.path == login %}active{% endif %}">
          <a href="{{ login }}" class="nav-link"><span class="fas fa-user"></span> Login</a>
        </li>
        <li class="navbar-item {% if request.path == register %}active{% endif %}">
          <a href="{{ register }}" class="nav-link"><span class="fas fa-user-plus"></span> Registro</a>
        </li>
        {% endif%}
      </ul>
    </div>
  </div>
</nav>